
<div ui-view ng-controller="QuestionsController as stack">
  <p id="com">{{}}</p>
  <form ng-submit="stack.addQuestion()">
        <div class="form-group" >            
            <input type="text" ng-model="stack.question.title" class="form-control" id="inputTitle" placeholder="Title" required>
        </div>
        <div class="form-group">  
            
            <textarea  ng-model="stack.question.question" rows="12" class="form-control" placeholder="Write a question..." required>                </textarea>
        </div>
    
        <input type="submit" value="Add" class="btn btn-primary">
      
    </form>
</div>

<!--          
<div ng-controller="QuestionsController as main">
        <p ng-bind-html="main.data[0].terms | nl2br"></p>
        <input type="checkbox" ng-model="main.data[0].agreed">I agree to the Terms of the Agreement Above.
            <input type="submit" ng-click="main.agree()" ng-disabled="!main.data[0].agreed" value="Continue &raquo;" />
    </div>-->