<div ng-controller="UserController as userCtrl">
<form ng-submit="userCtrl.login()" name="form1">
 <!-- <form name="form1">-->
<div class="col-md-offset-5 col-md-3">
    <div class="signinup">
            <h4>Log in to Stack Overflow ZPI</h4>
            <input type="text" ng-model="userCtrl.user.login" id="userName" class="form-control input-sm chat-input" placeholder="username" required />
            </br>
            <input type="password" ng-model="userCtrl.user.password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" required />
            </br>
    
               <!--<input type="submit" value="Log In" class="btn btn-primary" ng-disabled="form1.$invalid" />-->
            <input type="submit" value="Log In" class="btn btn-primary"/>
    </div>
        
 </div>
</form>
</div>
