<div ng-controller="QuestionController as QuestionCtrl">
      
<div class="row">
  <div class="col-sm-9">
    <h4>{{QuestionCtrl.question.title}} </h4>
    <!--{{QuestionCtrl.question.question}} fff-->
    <p ng-bind-html="QuestionCtrl.question.question | nl2br"></p>
      </div>
            </div>
      
 <div class="well">
<h3>Answers:</h3>
 <div ng-repeat="answer in QuestionCtrl.answers | orderBy:'-updated_at'">
  <p>
</br>
    <small class="pull-right text-muted">
    <span class="glyphicon glyphicon-time"></span>{{}}{{answer.updated_at|date:"MM/dd/yyyy 'at' h:mma"}}</small>
    <strong class="pull-left primary-font" class="divider">{{answer.login}}</strong></br>
    {{answer.answer}}</br><div class="answer"></br></div>
 </p>
    </div>
</div>

    <form ng-submit="QuestionCtrl.addAnswer()">
        
       </br>
        <!--<input type="hidden" ng-model="QuestionCtrl.answer.question_id" ng-init="QuestionCtrl.answer.question_id=question_id" >-->
      
      <div class="form-group"> 
            <textarea  ng-model="QuestionCtrl.answer.answer" rows="5" class="form-control" placeholder="Write an answer..." required>                </textarea>
          
        </div>
        
           <input type="submit" value="Add" class="btn btn-primary btn-sm">
    </form>

</div>
